<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Login | Secretaria Escolar DF</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body class="flex items-center justify-center h-screen">
    <div class="glass p-10 rounded-[32px] w-full max-w-md shadow-2xl">
        <h1 class="text-white text-3xl font-bold text-center mb-8">Secretaria DF</h1>
        <form onsubmit="login(event)" class="space-y-6">
            <input id="email" type="email" placeholder="E-mail Institucional" class="w-full bg-white/5 border border-white/10 rounded-xl px-4 py-3 text-white outline-none focus:ring-2 focus:ring-cyan-500">
            <input id="senha" type="password" placeholder="Senha" class="w-full bg-white/5 border border-white/10 rounded-xl px-4 py-3 text-white outline-none focus:ring-2 focus:ring-cyan-500">
            <p id="login-error" class="hidden text-sm text-red-300"></p>
            <button class="w-full bg-gradient-to-r from-cyan-500 to-blue-600 text-white font-bold py-4 rounded-xl">Acessar Sistema</button>
        </form>
    </div>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
</body>
</html>
